.btn
{
    
    width: 200px;
    height: 120px;
    top: -30px;
    left: 5px;
    position: relative;
    border-radius: 10px;
    margin-top: 25px;
    display: block;
}
.btn:hover 
{
    
    transform: scale(0.98);
}
.button1
{
    background: url('../Images/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid black;
}
.btn1
{
    padding: 10px 20px;
    border: 0;
    background: rgb(176, 198, 219);
    font-weight: bold;
    cursor: pointer;
    margin-left: 400px;
    margin-top: 20px;
}







